attrs
beautifulsoup4
bs4
certifi
cffi
charset-normalizer
cryptography
exceptiongroup
google-auth
google-auth-oauthlib
gspread
gspread-dataframe
h11
httplib2
idna
numpy
oauth2client
oauthlib
outcome
packaging
pandas
pyasn1
pyasn1_modules
pycparser
pyparsing
PySocks
python-dateutil
python-dotenv
pytz
requests
requests-oauthlib
rsa
selenium
six
sniffio
sortedcontainers
soupsieve
trio
trio-websocket
typing_extensions
tzdata
urllib3
webdriver-manager
websocket-client
wsproto
